<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Findex" value="https://nuget.pkg.github.com/findex-la/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Findex>
      <add key="Username" value="nchicas-findex" />
      <add key="ClearTextPassword" value="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" />
    </Findex>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>